<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <p class='col-md-1'>
                <a class="btn btn-primary" [routerLink]="['/add']">Add <i class="fas fa-plus-circle"></i></a>
            </p>
            <div class='col-md-3'>
                <input class="form-control" type='text' [(ngModel)]='listFilter' placeholder="Filter by recipient..." />
            </div>
        </div>

        <div class='table-responsive'>
            <div *ngIf="!(expenses)" class="d-flex flex-column align-items-center justify-content-center">
                <div class="row">
                    <div class="spinner-border primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                 </div>
                 <div class="row">
                   <strong>Loading expenses</strong>
                 </div>
             </div>
            
            <table class='table' *ngIf='expenses'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Recipient</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor='let expense of filteredExpenses | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let expenseIndex=index'>
                        <td>
                            <span *ngIf="page===1">{{(expenseIndex+1)}}</span>
                            <span *ngIf="page>1">{{((page-1)*10)+(expenseIndex+1)}}</span>
                        </td>
                        <td>
                            <a [routerLink]="['/expenses', expense.expenseId]">
                                {{ expense.transactionDate | date: 'dd/MM/yyyy'}}
                            </a>
                        </td>
                        <td>{{ expense.recipient }}</td>
                        <td>{{ expense.amount | currency:expense.currency:'symbol-narrow':'1.2-2'}}</td>
                        <td>{{ expense.expenseType.description }}</td>
                        <td>
                            <a [routerLink]="['/expense/edit/', expense.expenseId]"><i class="fas fa-edit"></i></a>
                                <span> | </span>
                            <a [routerLink]="" (click)="delete(expense.expenseId)"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf='expenses?.length > 0' class="col-12 justify-content-center">
                <ngb-pagination [collectionSize]="filteredExpenses.length" [(page)]="page" [maxSize]="5" [rotate]="true"
                    [ellipses]="false" [boundaryLinks]="true">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>