<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        
        <div class='row'>
            <p class='col-md-1'>
                <a class="btn btn-primary" [routerLink]="['/add']">Add</a>
            </p>
            <div class='col-md-2 font-weight-bold'>Filter by recipient:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>

        <div class='table-responsive'>
            <table class='table' *ngIf='expenses'>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Recipient</th>
                        <th>Amount</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let expense of filteredExpenses; let expenseIndex = index'>
                        <td>{{ expenseIndex + 1 }}</td>
                        <td>
                            <a [routerLink]="['/expenses', expense.expenseId]">
                                {{ expense.transactionDate | date: 'dd/MM/yyyy'}}
                            </a>
                        </td>
                        <td>{{ expense.recipient }}</td>
                        <td>{{ expense.amount | currency:expense.currency:'symbol-narrow':'1.2-2'}}</td>
                        <td>{{ expense.expenseType.description }}</td>
                        <td>
                            <a [routerLink]="['/expense/edit/', expense.expenseId]">Edit</a> |
                            <a [routerLink]="" (click)="delete(expense.expenseId)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>